{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <h1 id="h1-new-posts">Formulaire pour créer un produit</h1>
    <div class="container-list-product">
        {{ form(form) }}
    </div>

{% endblock %}