{% extends 'base.html.twig' %}

{% block title %}Edit {% endblock %}

{% block body %}
    <p>Formulaire pour modifier une catégorie</p>
    <div class="container-list-product">
        {{ form(form) }}
    </div>

{% endblock %}